# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
xcschememanagement.plist

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Build artifacts
*.app

# Miscellaneous
*.swp
*~
